/*
Estilos para el sitio de la aplicacion 
de Registro Academico
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*Estilos para el header*/
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}